<!DOCTYPE html>
<html lang="fr">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Films : d´etails</title>
</head>
<body>
    <h1> Supprimer un film </h1>
    Voulez-vous vraiment supprimer "{{title}}" ?
    <form action="/">
        <input type="submit" value="Annuler">
        </form>
    <form action="/delete-movie/{{id}}" method="get">
        <input type="submit" value="Supprimer">
    </form>
</body>
</html>
    