<!DOCTYPE html>
<html lang="Fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des titres</title>
</head>
<body>
    <h1>Bienvenue dans votre collection de film</h1>
    <p>Pour ajouter un film cliquer ici -> <a href="/add_movie_form">Ajouter</a></p>
    {{#movies}}
    
    
    <h6>Titre du film : {{title}}</h2>
    <a href="/movie-details/{{id}}">Détails du film</a><br>
    <a href="/edit_movie_form/{{id}}">modifier des information du film</a><br>
    <a href="/delete_movie_form/{{id}}">Supprimer le film </a> <br>

    {{/movies}}
</body>
</html>